.cell {
    padding: 1em;
    position: relative;
    display: inline-block;
    border: 1px solid white;
    font-size: 13px;
}
.cells {
    background-color: lightgrey;
    width: 280px;
    max-width: 20em;
}
.GameBox {
    position: relative;
}
.row {
    font-size: 0;
}
body {
    width: 40em;
    margin: 0 auto;
}
.paused {
    background: red;
}
.notPaused {
    background: green;
}
button{
    height: 4em;
    width: 8em;
}
.Controls {
    width: 20em;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    margin-top: -75%;
}.rightCenter {
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    top: 0%;
    margin-right: -50%;
    margin-top: -0%;
}
.gameOver{
    font-size: 5em;
    background: red;
}
.ghost {
    opacity: 0.2;
}
.leftAlign{
    text-align: left;
}
.inline{
    display: inline-block;
}
