.cell,
.TetrisCell {
    padding: 0.9em;
    position: relative;
    display: inline-block;
    border: 0.1em solid white;
    font-size: 10px;
}
.cells {
    background-color: lightgrey;
    width: 20em;
    max-width: 20em;
    font-size: 10px;
}
.GameBox {
    text-align: center;
    margin-right: -50%;
    position: relative;
    font-size: 10px;
    width: 50%;
    height: 100%;
}
.row {
    font-size: 0;
}
body {
    width: 40em;
    margin: 0 auto;
}
.paused,
.on {
    background: red;
}
.notPaused,
.off {
    background: green;
}
.enabled {
    background-color: white;
}
.disabled {
    display: none;
}
button,
.button {
    height: 4em;
    width: 8em;
}
.Controls {
    width: 20em;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    margin-top: -75%;
}
.rightCenter {
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    top: 0%;
    margin-right: -50%;
    margin-top: -0%;
}
.gameOver {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 9999999;
    font-size: 8em;
    background: rgba(26, 255, 0, 0.80);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
Cell.prototype.types=["ghost",
"moving",
"placed",
"default",
"offMap",
"unused",
"preview"];
 .ghost {
    opacity: 0.2;
    border-color: brown;
}
.moving {
    border-color: teal;
}
.placed {
    border-color: black;
}
.default {
    border-color: orange;
}
.offMap {
    border-color: red;
}
.unused {
    border-color: white;
}
.preview {
    border-color: pink;
}
.leftAlign {
    text-align: left;
}
.inline {
    display: inline-block;
}
.TetrisPiece {
    display: inline-block;
    margin-left: 15%;
    max-width: 8em;
    min-width: 8em;
    max-height 8em;
    min-height 8em;
    font-size: 10px;
    z-index: 9999;
}
