.TetrisPiece {
    display: fixed;
    top: 0;
    left: 0;
    max-width: 8em;
    min-width: 8em;
    max-height 8em;
    min-height 8em;
    font-size: 10px;
    z-index: 9999;
}
.cell,
.TetrisCell {
    padding: 0.9em;
    position: relative;
    display: inline-block;
    border: 0.1em solid white;
    font-size: 10px;
}
.cells {
    background-color: lightgrey;
    width: 20em;
    max-width: 20em;
    font-size: 10px;
}
.GameBox {
    position: relative;
    font-size: 12px;
    width: 100%;
    height: 100%;
}
.row {
    font-size: 0px;
    border: 0px;
}
body {
    width: 40em;
    margin: 0 auto;
}
.paused,
.on {
    background: red;
}
.notPaused,
.off {
    background: green;
}
.enabled {
    background-color: white;
}
.disabled {
    display: none;
}
button,
.button {
    height: 4em;
    width: 8em;
}
@media (max-width: 641px) {
    .Controls {
        display: none;
    }
    .Settings {
        display: none;
    }
    .previewBox {
        display: none;
    }
    .Issues {
       display: none;
    }
}
@media (min-width: 641px) {
    .Controls {
        border: 2px;
        position: absolute;
        display: inline;
        width: 33%;
        text-align: center;
        top: 50%;
        left: 33%;
    }
    .pauseLabel {
        position: absolute;
        text-align: center;
        width: 50%;
        height: 50%;
        left: 0px;
        font-size: 4em;
    }
    .Settings {
        position: absolute;
        display: table;
        width: 50%;
        height: 50%;
        right: 0px;
        font-size: 0em;
    }
    .previewBox {
        position: absolute;
        width: 66%;
        top: 0%;
        right: 0%;
    }
    .Issues {
        position: absolute;
        width: 33%;
        text-align: center;
        top: 50%;
        left: 66%;
    }
}
.rightCenter {
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    margin-top: -50%;
}
.gameOver {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 9999999;
    font-size: 8em;
    background: rgba(26, 255, 0, 0.80);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.ghost {
    opacity: 0.2;
    border-color: brown;
}
.moving {
    border-color: teal;
}
.placed {
    border-color: black;
}
.default {
    border-color: orange;
}
.offMap {
    border-color: red;
}
.unused {
    border-color: white;
}
.preview {
    border-color: pink;
}
.leftAlign {
    text-align: left;
}
.inline {
    display: inline-block;
}
div {
    border: 1px solid black;
}
