.MessageBox {
    position: relative;
    width: 10.7em;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
}
.messages::-webkit-scrollbar,::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}
.messages::-webkit-scrollbar-track,::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
    /* 3 */
}
.messages::-webkit-scrollbar-thumb , ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #116ED7;
}

.MessageBoxGroup {
    position: fixed;
    display: flex;
    bottom: 1em;
    left: 0em;
    height: 15em;
    width: 50%;
}
.fromMe {} .toMe {} .allChat {}
.Friend {
    background-color: transparent;
    top: 0em;
    right: 0em;
    color: #FFF;
    display: flex;
    flex-direction: row;
    text-align: left;
    height: 2em;
    width: 10em;
     -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    user-select:none;
}
.ChatSystem {
    background-color: red;
    position: absolute;
    bottom: 10em;
    right: 10em;
    color: #FFF;
    text-align: left;
    height: 20em;
    width: 10em;
    background-color: #001C26;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
      -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    user-select:none;

}
.icon {
    width: 1em;
    height: 1em;
    fill: #116ED7;
}
.icon:hover {
    width: 1em;
    height: 1em;
    fill: #04bc3f;
}
.chat {
    position: absolute;
    bottom: 0.5em;
    width: 20.4em;
    height: 14.4em;
    font-size: 1em;
    background-color: #010f13;
    border-radius: 0.4em;
    border: 1px solid lightblue;
}
.chatExit {
    position: absolute;
    top: 0em;
    left: 9em;
    width: 1.4em;
    height: 1.4em;
    font-size: 1em;
    background-image: url("http://i.imgur.com/agviQBF.png");
    background-size: 100% 100%;
}
.chatTab {
    position: absolute;
    height: 1em;
    bottom: -1em;
    padding: 0.3em;
    width: 10em;
    background-color: #001C26;
    color: #FEFEFE;
    text-align: left;
    border-radius: 0.4em;
}
.ChatBox {
    position: absolute;
    top: 21em;
    width: 20em;
    height: 15em;
}
.messages {
    border-radius: 0.4em;
    overflow-y: scroll;
    height: 13em;
    width: 20em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-color: #001C26;
    color: #00CCFF;
}
.users {
    overflow-y: scroll;
    width: 10em;
    background-color: #001C26;
    color: #00CCFF;
}
.chatInput {
    width: 23em;
}
.FriendsList{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 10em;
    height: calc(5.6 / 7.5 * 100%);
    display: flex;
    flex-direction: column;
}
.LoggedinUser{
    height: calc(1 / 7.5 * 100%);
}
.FriendGroup {

}
.FriendButtons{
    position: absolute;
    bottom: 0em;
    width: calc(100% - 0em);
    height: 1.2em;
    display: flex;
}
.FriendButtons button{
    width: auto;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0.4em;
}
.FriendButtons button:hover {

}
